backend/dist
backend/node_modules

services/api-gateway/dist
services/api-gateway/node_modules

services/questions/dist
services/questions/node_modules

services/auth/dist
services/auth/node_modules

k8s/postgres-secret.yaml

.env
.env.docker