apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: node-learn
type: Opaque
stringData:
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_NAME: "node-learn-questions"
  DB_USER: "postgres"
  DB_PASSWORD: "yourpassword"